%circe-regular{
  font-family: 'Circe Regular';
}
%circe-bold{
  font-family: 'Circe Bold';
}
%IntroH2Base{
  font-family: 'Intro ScriptRH2Base';
}
%playfairDisplay-bold{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}
%playfairDisplay-boldItalic {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}
%roboto-regular {
  font-family: 'Roboto Regular', serif;
}
