@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
  padding-top: 60px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__phone{
    font-size: 15px;
    line-height: 17px;
    @extend %circe-bold;
  }
}
.menu{
  &__list-item{
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
    & + & {
      margin-left: 44px;
    }
  }
}
.first-screen{
  padding: 125px 0 225px;
  background-image: url('../images/first-screen__img.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  &__left{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      background-image: url('../images/first-screen__bg3.svg');
      width: 168px;
      height: 119px;
      bottom: 150px;
      left: 360px;
    }
  }
  &__textarea{
    max-width: 370px;
    position: relative;
    &::before,
    &::after{
      position: absolute;
      content: "";
    }
    &::before{
      background-image: url('../images/first-screen__bg2.svg');
      width: 63px;
      height: 60px;
      top: 95px;
      right: -240px;
    }
    &::after{
      background-image: url('../images/first-screen__bg1.svg');
      width: 111px;
      height: 110px;
      top: -140px;
      right: -330px;
    }
  }
  &__title{
    @extend %playfairDisplay-bold;
    font-size: 78px;
    line-height: 80px;
    letter-spacing: 0.75px;
  }
  &__descr{
    margin-top: -33px;
  }
  &__link{
    padding: 18px 67px 17px;
    margin-top: 15px;
  }
  &__benefits{
    margin-top: 125px;
    display: flex;
  }
  &__benefits-item{
    display: flex;
    align-items: center;
    & + & {
      margin-left: 70px;
    }
  }
  &__benefits-item__img{
    margin-right: 15px;
  }
  &__benefits-item__title{
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    max-width: 175px;
  }
  &__benefits-item__title-small{
    max-width: 90px;
  }
}
.our-cakes{
  margin: -80px 0 90px;
  &__gallery{
    display: inline-block;
    position: relative;
  }
  &__gallery-item{
    overflow: hidden;
    box-shadow: 0 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
    transition: all .3s;
    position: relative;
    border-right: 1px solid #fdf4f4;
    border-left: 1px solid #fdf4f4;
    &:hover{
      box-shadow: 0 10px 12.74px 0.26px rgba(163, 6, 60, 0.12);
    }
    &:first-child{
      .our-cakes__gallery-item__arrow{
        display: flex;
      }
      .our-cakes__gallery-item__arrow .our-cakes__gallery-item__arrow-name{
        padding-right: 24px;
        font-size: 20px;
        line-height: 24px;
      }
    }
    &:first-child,
    &:nth-child(6){
      width: 696px;
      height: 653px;
    }
    &:nth-child(2){
      position: absolute;
    }
    &:nth-child(2),
    &:nth-child(3){
      margin-left: 35px;
    }
    &:nth-child(5){
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: 484px;
      height: 305px;
    }
    &:nth-child(6){
      float: right;
    }
    &:nth-child(4),
    &:nth-child(6){
      margin-top: 45px;
    }
  }
  &__gallery-item__wrapper{
    padding: 30px 67px 38px 45px;
  }
  &__gallery-item__textarea{
    position: absolute;
  }
  &__gallery-item__img-classic{
    margin: -60px -50px;
  }
  &__gallery-item__img-muss{
    margin: -105px -215px;
  }
  &__gallery-item__img-wedding{
    margin: -33px -250px;
  }
  &__gallery-item__img-men{
    margin: -75px -115px;
  }
  &__gallery-item__img-women{
    margin: -80px -120px;
  }
  &__gallery-item__img-kids{
    margin: -60px -130px;
  }
  &__gallery-item__title{
    font-size: 24px;
    line-height: 26px;
    margin-top: -5px;
  }
  &__gallery-item__num{
    margin-top: -39px;
    font-size: 20px;
    line-height: 24px;
    color: rgba(#2d2829, .7);
  }
  &__gallery-item__arrow{
    position: absolute;
    bottom: 30px;
    right: 71px;
  }
}
.individual-order{
  &__item{
    width: 100%;
    height: 570px;
    background-color: #fff;
    padding: 75px 125px 80px 85px;
    box-shadow: 0 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
    position: relative;
    &.individual-order__item-picture{
      height: 750px;
      &::before{
      position: absolute;
      content: "";
      background-image: url('../images/individual-order__design.png');
      width: 252px;
      height: 334px;
      left: 20px;
      top: 200px;
      }
    }
    & + & {
      margin-top: 35px;
    }
  }
  &__item-inner{
    display: flex;
    position: relative;
  }
  &__item-title{
    display: flex;
    flex-direction: column;
    @extend %playfairDisplay-bold;
    color: #f50049;
    font-size: 58px;
    line-height: 61px;
    max-width: 175px;
    margin-top: -30px;
    span{
      font-size: 27px;
      line-height: 29px;
    }
  }
  &__slider{
    max-width: 670px;
    margin-left: 50px;
  }
  &__slider-arrows{
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 5;
    cursor: pointer;
  }
  &__slider-prev{
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__slider-next{
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__slider-item__inner{
    display: flex;
  }
  &__item-textarea{
    height: 100%;
  }
  &__slider-item__info{
    color: #2f2f2f;
    margin-left: 40px;
    max-width: 270px;
    margin-top: 40px;
  }
  &__slider-item__info-price{
    @extend %playfairDisplay-bold;
    font-size: 22px;
    line-height: 24px;
  }
  &__slider-item__info-title{
    @extend %circe-bold;
    font-size: 20px;
    line-height: 22px;
  }
  &__slider-item__info-text{
    margin-top: -30px;
  }
  &__slider-item__imagebox{
    height: 400px;
    background-color: #fbebea;
  }
  &__slider-item__img{
    width: 344px;
    height: 390px;
    overflow: hidden;
    margin-top: 30px;
  }
  &__slider-item__info-btn{
    margin-top: 30px;
    padding: 17px 61px 16px 62px;
  }
  &__numpage{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__item-sizes__inner{
    white-space: nowrap;
    margin-top: 70px;
  }
  &__item-sizes__part{
    display: inline-block;
    & + & {
      margin-left: 70px;
    }
  }
  &__item-sizes__part-top{
    position: relative;
  }
  &__item-sizes__part-num{
    position: absolute;
    font-size: 17px;
    line-height: 19px;
    color: #2f2f2f;
  }
  &__item-sizes__part-num__small{
    top: 30px;
    left: 45px;
  }
  &__item-sizes__part-num__big{
    top: 55px;
    left: 65px;
  }
  &__item-sizes__part-num__bigger{
    top: 65px;
    left: 75px;
  }
  &__item-sizes__part-num__biggest{
    top: 80px;
    left: 85px;
  }
  &__item-sizes__part-info{
    display: flex;
    flex-direction: column;
    color: rgba(#2f2f2f, .8);
  }
  &__item-sizes__part-second{
    .individual-order__item-sizes__part-info{
      margin-left: 25px;
    }
  }
  &__item-design{
    margin-left: 130px;
  }
  &__item-design__slider{
    max-width: 685px;
    display: flex;
    justify-content: space-between;
    .slick-list{
      .slick-track{
        .slick-slide{
          margin-right: 40px;
        }
      }
    }
  }
  &__item-design__slider-part__image{
    width: 321px;
    height: 431px;
    overflow: hidden;
  }
  &__item-design__slider-part__image-content-1{
    margin: -100px -35px;
  }
  &__item-design__slider-part__image-content-2{
    margin: 5px -5px;
  }
  &__item-design__slider-part{
    box-shadow: 0 7px 12.74px 0.26px rgba(0, 0, 0, 0.05);
    position: relative;
  }
  &__item-design__slider-part__textarea{
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 0;
    right: 0;
    color: #2f2f2f;
  }
  &__item-design__slider-part__price{
    margin-top: -15px;
    @extend %playfairDisplay-bold;
    font-size: 22px;
    line-height: 24px;
  }
  &__item-choice{
    margin-top: 60px;
  }
  &__item-picture{
    .individual-order__item-inner{
      .individual-order__numpage{
        bottom: -25px;
        right: -65px;
      }
    }
  }
  &__item-choice__form{
    display: flex;
    align-items: center;
    position: relative;
  }
  &__item-choice__label{
    display: flex;
    flex-direction: column;
    @extend %IntroH2Base;
    font-size: 27px;
    line-height: 30px;
    color: #f50049;
    & + & {
      margin-left: 84px;
    }
  }
  &__item-choice__title{
    font-size: 27px;
    line-height: 30px;
  }
  &__item-choice__label-input{
    border: none;
    outline: none;
    background-color: transparent;
    @extend %circe-regular;
    font-size: 18px;
    line-height: 22px;
    color: #2d2829;
    padding: 6px 10px 7px 0;
    border-bottom: 1px solid #c1b0af;
    letter-spacing: 0.95px;
    width: 249px;
    margin-top: 10px;
    &::placeholder{
      color: #2d2829;
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__item-choice__label-input__small{
    width: 137px;
  }
  &__item-choice__link{
    position: absolute;
    right: -40px;
    bottom: 0;
  }
  &__item-choice__btn{
    padding: 17px 63px 18px 62px;
    border: none;
  }
  &__item-design__slider-arrows{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  &__item-design__slider-prev{
    left: -80px;
  }
  &__item-design__slider-next{
    right: -80px;
  }
}
.reviews{
  margin-top: 100px;
  position: relative;
  &::before,
  &::after{
    position: absolute;
    content: "";
  }
  &::before{
    background-image: url('../images/reviews-bg.svg');
    width: 549px;
    height: 148px;
    top: -102px;
  }
  &::after{
    background-image: url('../images/reviews-bg__right.svg');
    width: 549px;
    height: 148px;
    top: -102px;
    right: 0;
  }
  &__title{
    text-align: center;
  }
  &__inner{
    display: flex;
    justify-content: center;
    position: relative;
  }
  &__slider{
    max-width: 675px;
    width: 100%;
    position: relative;
  }
  &__slider-item__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__slider-item__img{
    margin: 30px 0 0 20px;
  }
  &__slider-item__textarea{
    max-width: 360px;
  }
  &__slider-item__descr{
    margin-top: -55px;
  }
  &__slider-item__textarea-bottom{
    position: relative;
  }
  &__slider-item__link{
    position: absolute;
    bottom: 0;
    right: 70px;
  }
  &__slider-item__title{
    @extend %circe-bold;
    font-size: 27px;
    line-height: 29px;
  }
  &__slider-item__descr{
    font-size: 20px;
    line-height: 22px;
  }
  &__slider-item__link{
    font-size: 16px;
    line-height: 18px;
    color: #f50049;
    border-bottom: 2px solid #f50049;
  }
  &__slider-item__numpage{
    position: absolute;
    color: #f50049;
    bottom: -30px;
    right: 50px;
  }
  &__slider-arrows{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  &__slider-prev{
    left: -100px;
  }
  &__slider-next{
    right: -100px;
  }
}
.about{
  margin: 170px 0 115px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__textarea{
    max-width: 555px;
  }
  &__descr{
    margin-top: -10px;
  }
  &__image-boards{
    width: 510px;
    height: 510px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 30px;
  }
  &__image{
    margin: 0 -160px;
  }
  &__text-item{
    margin-left: 2px;
  }
  &__text-item__title{
    @extend %circe-bold;
    font-size: 20px;
    line-height: 22px;
    margin-top: 5px;
  }
  &__text-item__content{
    margin-top: -10px;
  }
  &__social{
    display: flex;
  }
  &__social-item{
    & + & {
      margin-left: 16px;
    }
  }
  &__social-link{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    transition: all .3s;
    &:hover{
      box-shadow: 0px 2px 7.04px 0.96px rgba(255, 0, 67, 0.2);
    }
    &::before{
      position: absolute;
      content: "";
    }
  }
  &__social-link__instagram{
    &::before{
      width: 18px;
      height: 18px;
      background-image: url('../images/instagram-color.svg');
      background-repeat: no-repeat;
      top: 8px;
      left: 9px;
    }
  }
  &__social-link__vk{
    &::before{
      width: 25px;
      height: 17px;
      background-image: url('../images/vk-color.svg');
      background-repeat: no-repeat;
      top: 8px;
      left: 4px;
    }
  }
  &__social-link__twitter{
    &::before{
      width: 19px;
      height: 16px;
      background-image: url('../images/twitter-color.svg');
      background-repeat: no-repeat;
      top: 9px;
      left: 9px;
    }
  }
}
.quote{
  max-width: 640px;
  margin: 0 auto;
  &__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text{
    @extend %playfairDisplay-boldItalic;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 70px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/quotes.png');
      width: 60px;
      height: 40px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.benefits{
  margin: 120px 0 260px;
  position: relative;
  &::after{

  }
  &__top-textarea{
    position: relative;
    &::before,
    &::after{
      position: absolute;
      content: "";
      background-repeat: no-repeat;
    }
    &::before{
      background-image: url('../images/benefits__bg-img2.svg');
      background-repeat: no-repeat;
      width: 51px;
      height: 48px;
      top: 30px;
      left: 225px;
    }
    &::after{
      background-repeat: no-repeat;
      background-image: url('../images/benefits__bg-img3.svg');
      width: 103px;
      height: 148px;
      left: 20px;
      top: -5px;
    }
  }
  &__descr{
    font-size: 35px;
    line-height: 38px;
    margin-top: -10px;
  }
  &__inner{
    display: flex;
    flex-direction: column;
  }
  &__item{
    position: relative;
    &.benefits__item-right{
      .benefits__item-textarea{
        max-width: 460px;
        padding-left: 80px;
        float: right;
        position: relative;
        &::before{
          position: absolute;
          content: "";
          background-image: url('../images/benefits__bg-img1.svg');
          width: 167px;
          height: 132px;
          top: 300px;
          left: -225px;
        }
      }
      .benefits__item-image{
        left: -75px;
        top: -170px;
        &::before{
          position: absolute;
          content: "";
          background-image: url('../images/benefits__bg-img4.svg');
          background-repeat: no-repeat;
          width: 52px;
          height: 54px;
          top: 0;
          left: 0;
        }
      }
      .benefits__item-textarea__paragraph{
        &:first-child{
          position: relative;
          &::before{
            position: absolute;
            content: "";
            background-image: url('../images/benefits__bg-paragraph.svg');
            width: 61px;
            height: 61px;
            left: -80px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &:nth-child(2){
          padding-right: 80px;
        }
      }
      margin: 120px 220px 0 0;
    }
    &.benefits__item-left{
      margin-top: 300px;
      max-width: 420px;
      .benefits__item-textarea__title-italic{
        margin-top: -33px;
      }
      .benefits__item-textarea-text{
        margin-top: -30px;
        position: relative;
        &::after{
          position: absolute;
          content: "";
          background-image: url('../images/benefits__bg-img5.svg');
          width: 768px;
          height: 802px;
          left: 520px;
          top: -450px;
        }
      }
      .benefits__item-image{
        left: 620px;
        top: -200px;
      }
    }
  }
  &__item-image{
    position: absolute;
  }
  &__item-textarea__paragraph{
    color: #000;
    & + & {
      margin-top: 40px;
    }
  }
  &__item-textarea__title{
    @extend %circe-bold;
    font-size: 20px;
    line-height: 27px;
  }
  &__item-textarea-text{
    margin-top: -10px;
  }
}
.delivery{
  background-image: url('../images/delivery-bg.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center -105px;
  background-size: cover;
  padding: 60px 0 185px;
  &__textarea{
    float: right;
    max-width: 485px;
    color: #fff;
  }
  &__textarea-inner{
    position: relative;
  }
  &__textarea-num{
    position: absolute;
    margin-top: -20px;
    @extend %playfairDisplay-bold;
    font-size: 64px;
    line-height: 66px;
  }
  &__textarea-paragraph{
    padding-left: 50px;
  }
  &__textarea-paragraph__title{
    @extend %circe-bold;
    font-size: 21px;
    line-height: 24px;
  }
  &__textarea-paragraph__text{
    margin-top: -15px;
    font-size: 20px;
    line-height: 24px;
  }
  &__textarea-item{
    &:first-child{
      margin-top: -22px;
    }
    & + & {
      margin-top: 35px;
    }
  }
}
.contacts{
  margin-top: 80px;
  padding-bottom: 297px;
  background-image: url('../images/contacts-bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position:  right bottom;
  position: relative;
  &__title{
    margin-left: -5px;
  }
  &__descr{
    margin-left: -5px;
  }
  &__text{
    font-size: 20px;
    color: #000000;
    margin-top: -30px;
  }
  &__form{
    margin-top: 50px;
    max-width: 550px;
  }
  &__form-input{
    max-width: 550px;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #c9bcbb;
    font-size: 14px;
    line-height: 16px;
    color: rgba(#000, .4);
    & + & {
      margin-top: 40px;
    }
    &::placeholder{
      font-size: 14px;
      line-height: 16px;
      color: rgba(#000, .4);
    }
  }
  &__form-btn{
    margin-top: 80px;
    padding: 16px 46px 17px;
    border: none;
  }
  &__right{
    position: absolute;
    right: 50%;
    top: 120px;
    transform: translateX(calc(100% + 30px));
    max-width: 330px;
    font-size: 20px;
    color: #000000;
  }
  &__social-link{
    margin-top: 10px;
    width: 63px;
    height: 63px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    transition: all .3s;
    &::before{
      position: absolute;
      content: "";
      background-repeat: no-repeat;
    }
    &:hover{
      box-shadow: 0px 2px 7.04px 0.96px rgba(255, 0, 67, 0.2);
    }
    & + & {
      margin-left: 30px;
    }
    &.instagram{
      &::before{
        background-image: url('../images/instagram__big-color.svg');
        width: 28px;
        height: 28px;
        top: 17px;
        left: 18px;
      }
    }
    &.vk{
      &::before{
        background-image: url('../images/vk__bg-color.svg');
        width: 41px;
        height: 29px;
        top: 14px;
        left: 8px;
      }
    }
  }
}






@import "media";
